.form {
  font-family: "Josefin Sans";
}

.form,
h1 {
  font-family: "Josefin Sans";
}

.form,
h2 {
  font-family: "Josefin Sans";
}

.form,
h3 {
  font-family: "Josefin Sans";
}

.form,
h4 {
  font-family: "Josefin Sans";
}

.form,
p {
  font-family: "Josefin Sans";
}

.form-fields {
    font-family: "Josefin Sans";
  }